[submodule "googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "abc"]
	path = submodules/abc
	url = https://github.com/berkeley-abc/abc
[submodule "cinguparam"]
	path = submodules/CinguParam
	url = https://github.com/CEA-LIST/CinguParam.git
[submodule "fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
